<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        
        <body>
            <form action="{% url 'contact' %}" method='post'>
                {% csrf_token %}
                
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                
                {% include 'rango/form_snippet.html' with form_comment=form %}
                
                {{form_agent.as_ul}}
                
                <input type="submit" value="Submit"/>
            </form>
        </body>
    </html>
