{% extends 'rango/base.html' %}

{% block body_block %}
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Top 5 categories</h2>
              
              {% if categories %}
              <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.url %}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
              {% else %}
                <strong>No categories at present.</strong>
              {% endif %}
            
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Top 5 pages</h2>
              {% if pages %}
              <ul>
               {% for page in pages %}
               <li><a href="{% url 'page' page.id %}">{{ page.title }}</a> - {{ page.category }} - {{ page.views }} views</li>
               {% endfor %}
              </ul>
              {% else %}
               <strong>No pages at present.</strong>
              {% endif %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

{% endblock %}