
{% extends 'rango/base.html' %}
{% block body_block %}
{%load static %}
    <h2>Rango says...{% if user.is_authenticated %} Hello, {{user.username}}! {% else %} Hello, World! {% endif %}</h2>
        <h3>Top Five Categories</h3>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.url %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

        <h3>Top Five Pages</h3>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{% url 'page' page.id %}">{{ page.title }}</a> - {{ page.category }} - {{ page.views }} views</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

{% endblock %} 